.carousel {
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative;
    padding: 120px 0;
}

.carousel__text {
    position: relative;

    margin: auto;
    h1 {
        margin: 0;
        color: white;
        font-size: 4em;
        font-weight: $font-weight--med-bold;
    }
    p {
        color: white;
        font-size: 1.5em;
        width: 50%;
        font-weight: $font-weight--med-bold;
        padding: 20px 0;
    }
    a {
        color: white;
    }
}

.carousel__button {
    border-radius: 3px;
    background: lighten($red-ribbon, 10%);
    width: fit-content;
    padding: 15px;
    font-size: 1.2em;
    &:hover {
        background: $red-ribbon;
    }
}

// Responsive sizing for carousel

.carousel__text {
    width: 80%;
    text-align: center;
    p, .carousel__button {
        margin: auto;
    }
    p {
        width: 100%;
    }
    @media (min-width: $break-medium) {
        width: 900px;
        text-align: left;
        p, .carousel__button {
            margin: 0;
        }
        p {
            width: 60%;
        }
    }
}

// Responsive background change to make text readable at smaller sizes

.carousel {
    background: center no-repeat url("../img/carousel/home-MSxH.webp"), rgba(0,0,0,.5);
    @media (min-width: $break-medium) {
        background: center no-repeat url("../img/carousel/home-MSxH.webp"), linear-gradient(to right,black 0%, transparent 65%);
    }
}