#client__grid {
    padding: 15px;
    display: grid;
    line-height: 2;
    grid-auto-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
}





// columns within client reviews section




#stars {
    color: goldenrod;
    font-size: 3em;
    height: fit-content;
    line-height: 1;
}



// media queries

#client__grid {
    padding-bottom: 30px;
    width: 95%;
    @media (min-width: $break-small) {
        padding-bottom: 0;
        grid-auto-flow: column;
    }
    @include container;
}

.client__column {
    max-width: 100%;
}