#client__grid {
    padding: 15px;
    display: grid;
    line-height: 2;
    grid-auto-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
}





// columns within client reviews section




#stars {
    color: goldenrod;
    font-size: 3em;
}



// media queries

#client__grid {
    width: 95%;
    @media (min-width: $break-medium) {
        width: 60%;
        grid-auto-flow: column;
    }
    @media (min-width: $break-large) {
        width: 930px;
    }
    @media (min-width: $break-xl) {
        width: 1200px;
    }
}

.client__column {
    max-width: 100%;
}