#client__grid {
    padding: 15px;
    display: grid;
    line-height: 2;
    grid-auto-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
}





// columns within client reviews section




#stars {
    color: goldenrod;
    font-size: 2.5em;
    height: fit-content;
    line-height: 1;
    i {
        padding-right: 25px;
    }
}



// media queries

#client__grid {
    @media (min-width: $break-small) {
        grid-auto-flow: column;
    }
}

.client__column {
    max-width: 100%;
    .button--inline {
        display: inline-block;
        @media (min-width: $break-medium) {
            display: block;
            width: fit-content;
        }
        @media (min-width: $break-large) {
            display: inline-block;
        }

    }
    a.inline {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
    blockquote {
        margin-bottom: 30px;
    }
}