.section__topbar {
    height: fit-content;
    padding: 14px 0;
    width: 100%;
    background: white;
    box-shadow: 0 10px 10px 0 $pale-grey;
    display: none;
    @media (min-width: $break-small) {
        display: block;
    }
    &--inner {
        margin: auto;
        @media (min-width: $break-small) {
            width: 720px;
        }
        @media (min-width: $break-medium) {
            width: 940px;
        }
        @media (min-width: $break-large) {
            width: 1170px;
        }
        a {
            font-weight: 600;
        }
        font-size: .85em;
    }
}



.contact__card--container {
    position: relative;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    @media (min-width: $break-medium) {
        flex-direction: row;
    }
    justify-content: space-between;
    gap: 30px;
    overflow: visible;
}

.contact__card {
    border-radius: 10px 10px 0 0;
    z-index: 0;
    position: relative;
    box-shadow: 0 0 10px $pale-grey;
    height: fit-content;
    padding: 0 0 20px;
    display: inline-block;
    transition: 0.5s ease;
    p {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;

    }
    border: 1px solid $pale-grey;
}

.contact__card--image {
    border-radius: 10px 10px 0 0;
    display: block;
    img {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }
}

.contact__card {
    width: 100%;
    @media (min-width: $break-medium) {
        width: 455px;
    }
}

.section__header {
    h1 {
        font-size: 2.2em !important;
    }
    margin-bottom: 60px !important;
    
}

.contact__card--info {
    padding: 20px 30px;
    h4 {
        font-size: 1.25em;
        margin: 10px 0;
    }
    p {
        margin: 0;
        color: $med-grey;
        font-size: .8em;
        line-height: 1.8;
    }
    .contact__phone--number {
        margin: 0;
        padding: 10px 0;
        color: #926fb1;
        font-weight: 700;
        font-size: 1.7em;
    }
    .contact__card--button {
        display: flex;
        background: #926fb1;
        color: white;
        &:hover {
            background: darken(#926fb1, 10%);
        }
        height: 50px;
        width: 150px;
        text-align: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        text-transform: uppercase;
        border-radius: 3px;
    }
}

.contact__form--section {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    @media(min-width: $break-large) {
        flex-direction: row;
    }
    gap: 30px;

}

.contact-div,
.contact-div-wide,
.contact-div-privacy {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    @media (min-width: $break-small) {
        width: 660px;
    }
    @media (min-width: $break-medium) {
        width: 425px;
    }
    @media (min-width: $break-large) {
        width: 340px;
    }
}
.contact-div-wide,
.contact-div-privacy {
    @media (min-width: $break-medium) {
        width: 100%;
    }
}

.contact-div-privacy {
    flex-direction: row;
    padding-top: 10px;

    input[type="checkbox"] {
        width: 32px;
        height: 32px;
        border: none;
        outline: none;
        &::after {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        border: 2px solid $dark-grey;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
        background: $pale-grey;
        }
        &:checked::after {
            background: $dark-grey;
            content: "\2713";
            color: white;
            text-align: center;
            align-content: center;
            font-size: 1.5em;
        }
    }
    a {
        text-decoration: underline;
    }
    span {
        width: auto;
    }
}

.contact__form {
    width: 100%;
    @media (min-width: $break-large) {
        width: 770px;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background: $pale-grey;
        padding: 30px;
        border-radius: 10px;
        label {
            font-weight: 500;
            padding: 10px 0;
        }
        input,
        textarea {
            border: 1px solid $light-grey;
            box-shadow: inset 0 1px 1px $pale-grey;
        }
        input {
            height: 50px;
        }
        textarea {
            height: 100px;
            width: 100%;
        }
        .required::after {
            content: " *";
            color: red;
        }
    }
}

.contact-div {
    @media (min-width: $break-medium) {
        margin: 0;
    }
}
.contact__details {
    width: 100%;
    @media (min-width: $break-large) {
        width: 370px;
    }
    h4 {
        font-weight: 600;
        padding: 10px 0;
    }
    h3 {
        color: lighten($affair, 10%);
        font-weight: 600;
        font-size: 1.5em;
    }

}

.contact-checkbox-text {
    line-height: 2;
    text-wrap: pretty;
    padding-left: 10px;
}

.contact-small-text {
    padding-top: 20px;
    font-size: .7em;
}

.contact-small-text,
.contact-checkbox-text {
    color: $grey;
    font-weight: 600;
    a {
        text-decoration: underline;
        &:hover {
            color: $dark-grey;
        }
    }
}

.contact-submit-div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    span {
        align-content: center;
    }
    input[type="submit"] {
        font-size: 1.1em;
        padding: 5px 15px;
        background: $grey;
        color: white;
        outline: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background: $dark-grey;
        }
    }
}

.form-error {
    border: 1px solid red !important;
}

#out-of-hours-toggle {
    font-weight: 600;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

#out-of-hours-text {
    display: none;
    transition: 0.3s ease;
    &.show {
        display: block;
    }
}

.form-send-success {
    background: #2ECC71;
    color: white;
}

.form-failed-message {
    background: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

.form-send-success,
.form-failed-message {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    margin: 5px 0;
    p {
        margin: 0;
    }
    div {
        align-self: center;
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: black;
        opacity: .2;
        font-size: 1.5em;
        font-weight: 600;
    }
}