footer {
    background: $grey;
    color: white;


    & * {
        display: block;
        line-height: 1.5;
    }
    a:hover {
        text-decoration: underline;
    }

}


#footer__grid {
    display: grid;
    margin: 0 auto;
    width: 60%;
    @media (max-width: $break-small) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }
    @media (min-width: $break-small) {
        grid-template-columns: 1fr 1fr;
        grid-auto-columns : minmax(100px, 50%);
        gap: auto;
    }

    @media (min-width: $break-xl) {
        grid-template-columns: 2fr repeat(4, 1fr);
    }

}


#footer__logo {
    margin: 20px auto;
}

#footer__about {
    margin: 20px auto;
}

#footer__services {
    margin: 20px auto;
}

#footer__industries {
    margin: 20px auto;
}

#footer__locations {
    margin: 20px auto;
}

#footer__bottom {
    background: $dark_grey;
    height: 20px;
    margin-bottom: 0px;
    
}

