footer {
    background: $grey;
    color: white;


    & * {
        display: block;
        line-height: 1.5;
    }
    a:hover {
        text-decoration: underline;
    }

}


#footer__grid {
    display: grid;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    @media (max-width: $break-small) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }
    @media (min-width: $break-small) {
        width: 60%;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns : minmax(100px, 50%);
        gap: auto;
    }

    @media (min-width: $break-xl) {
        grid-template-columns: 2fr repeat(4, 1fr);
    }

}


#footer__logo {
    margin: 20px auto;


    #socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding: 10px;
    }
}

#footer__logo--img {
    height: 50px;
    @media (min-width: $break-small) {
        height: 65px;
    }
}

#footer__about,
#footer__services,
#footer__industries,
#footer__locations {
    margin: 20px auto;
}


#footer__bottom {
    background: $dark_grey;
    height: fit-content;
    margin-bottom: 0px;
    padding: 15px;
    font-size: .8em;
    p {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    
}

