footer {
    background: $grey;
    color: white;


    & * {
        display: block;
        line-height: 1.5;
    }
    a:hover {
        text-decoration: underline;
    }

    width: 100%;
    margin: 0;

}


#footer__grid {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    justify-content: center;
    padding: 20px 10px;
    @media (max-width: $break-small) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: row;
    }
    @media (min-width: $break-small) {
        grid-template-columns: repeat(2, 375px);
        & #footer__logo {
            grid-column-start: 1;
            grid-column-end: span 2;
        }
    }
    @media (min-width: $break-medium) {
        grid-template-columns: repeat(4, 242.5px);
        grid-auto-flow: row;
        & #footer__logo {
            grid-column-start: 1;
            grid-column-end: span 4;
        }
    }
    @media (min-width: $break-large) {

        grid-template-columns: 400px repeat(4, 200px);
        & #footer__logo {
            grid-column-end: span 1;
        }
    }
    div {
        width: 100%;
    }

}


#footer__logo {
    margin: 0 auto;
    padding-right: 80px;

    #socials {
        display: flex;
        flex-wrap: wrap;
        
        gap: 10px;

        width: 150px;
        @media (min-width: $break-xs) {
            width: auto;
        }
    }
}

#footer__logo--img {
    height: 50px;
    @media (min-width: $break-small) {
        height: 65px;
    }
}



#footer__bottom {
    background: $dark_grey;
    height: fit-content;
    margin-bottom: 0px;
    padding: 15px;
    font-size: .8em;
    
}

#footer__inner {
    margin: auto;
}

#footer__bottom--inner {
    margin: auto;
    padding: 0;
}