.header__toggle-nav {
    height: 50px;
    width: 50px;

}

.header--inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    & * {
        margin-left: 5px;
        margin-right: 5px;
    }
    @media (min-width: $break-small) {
        
        & * {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    margin: auto;
    justify-content: center;

}



.header__button {
    padding-left: 10px;
    padding-right: 10px;
    height: 56px;
    border-radius: 3px;
    font-size: 1.2em;
    align-items: center;
    display: flex;
    &:nth-of-type(2) {
        background: lighten($cerulean-blue, 10%);
        &:hover {
            background: $cerulean-blue;
        }
    }
    &:nth-of-type(3) {
        background: $light-grey;
        &:hover {
            background: darken($light-grey, 10%);
        }
    }
    @media (max-width: $break-medium) {
        display: none;
    }
}

.header__toggle-nav {
    background: $dark-grey;
    padding: 10px;
    border-radius: 3px;
    height: 56px;
    width: 56px;
}

form.searchbar {
    height: 56px;
    margin: auto 0;
    padding: 0;
    @media (max-width: $break-large) {
        display: none;
    }
}

input[type="search"] {

    display: inline;
    height: 100%;
    width: 200px;
    border: 1px solid $light-grey;
    border-radius: 0;
    margin-right: 0;
    color: $light-grey;
    padding: 20px;
    font-weight: $font-weight--light;
    font-size: 0.9em;
    box-shadow: inset 0 0 2px $light-grey;
}

button.searchicon {
    display: inline-block;
    margin: auto 0;
    height: 56px;
    width: 56px;
    background: $light-grey;
    border-radius: 0 3px 3px 0;
    &:hover {
        background: darken($light-grey, 10%);
    }
    @media (max-width: $break-large) {
        display: none;
    }
}

.searchicon img {
    margin: auto;
    filter: invert(100%);
    @media (max-width: $break-large) {
        display: none;
    }
}

.icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

#header__img {
    flex : 1 1 0;
    img {
        width: 100%;
        height: auto;
        
    }
    @media (min-width: $break-small) {
        img {
        width: auto;
        }
        
    }
}