.header__toggle-nav {
    height: 50px;
    width: 50px;

}

.header--inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto auto;
    width: 60%;
    justify-content: space-between;
}

#header__img {
    margin: auto auto;
}