.header__toggle-nav {
    height: 20px;
    width: 20p;

}

.header--inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    justify-content: space-between;
}
