header {
    box-sizing: border-box;
    height: 168px;
    @media (min-width: $break-small) {
        height: 110px;
    }
}


header * {
    display: inline-block;
}



.header--inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
    height: 100%;
    width: 100%;
    & * {
        margin-left: 5px;
        margin-right: 5px;
    }
    @media (min-width: $break-small) {
        padding: 0 15px;
        & * {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    @media (min-width: $break-medium) {
        width: 970px;
    }
    @media (min-width: $break-large) {
        width: 1200px;
    }
    margin: 20px auto 0;
    justify-content: center;

}

// Support/contact buttons

.header__button {
    padding-left: 10px;
    padding-right: 10px;
    height: 56px;
    border-radius: 3px;
    font-size: 1.2em;
    align-items: center;
    display: none;
    color: white;
    &:nth-of-type(3) {
        background: lighten($cerulean-blue, 10%);
        &:hover {
            background: $cerulean-blue;
        }
    }
    &:nth-of-type(4) {
        background: $light-grey;
        &:hover {
            background: darken($light-grey, 10%);
        }
    }
    @media (min-width: $break-medium) {
        display: flex;
    }
}

// Square buttons

.header__toggle-nav,
#header__tel {
    background: $dark-grey;
    padding: 10px;
    border-radius: 3px;
    height: 56px;
    width: 56px;
    text-align: center;
    color: white;
    align-content: center;
    font-size: 2em;
}

#header__tel {
    @media (min-width: $break-small) {
        display: none;
    }
}


// Searchbars + search buttons

form[class*="searchbar"] {
    padding: 0;
    margin: auto 0;
    height: 56px;
    color: $light-grey;
    & input[type="search"] {
        display: inline;
        height: 100%;
    }
}


form.searchbar--desktop {
    display: none;
    & input[type="search"] {
        width: 200px;
        border: 1px solid $light-grey;
        border-radius: 0;
        margin-right: 0;
        padding: 20px;
        font-weight: $font-weight--light;
        font-size: 0.9em;
        box-shadow: inset 0 0 2px $light-grey;
        &:focus {
            box-shadow: inset 0 0 2px $light-grey, 0 0 5px 1px #5bc0de;
        }
    }
    @media (min-width: $break-small) {
        display: block;
    }
    @media (min-width: $break-medium) {
        display: none;
        + button {
            border-radius: 5px;
        }
    }
    @media (min-width: $break-large) {
        display: block;
        + button {
            border-radius: 0 5px 5px 0;
        }
    }
}


form.searchbar--mobile {
    display: flex;
    width: 95%;
    border: 1px solid $light-grey;
    background: $pale-grey;
    border-radius: 0;
    box-shadow: inset 0 0 2px $light-grey;
    align-content: center;    
    & input[type="search"] {
        width: calc(100% - 56px);
        margin-right: 0;
        padding: 20px;
        font-weight: $font-weight--light;
        font-size: 0.9em;
        border: none;
        background: transparent;
    }
    @media (min-width: $break-small) {
        display: none;
    }
}

button[class*="searchicon"] {
    height: 56px;
    width: 56px;
    border-radius: 0 3px 3px 0;
}

input[type="search"] {
    outline: none;
    transition: box-shadow 0.3s ease;
}


button.searchicon {
    flex: 0 0 auto;
    width: 56px;
    height: 56px;
    display: none;
    margin: auto 0;
    background: $light-grey;
    color: white;
    font-size: 1.5em;
    &:hover {
        background: darken($light-grey, 10%);
    }
    @media (min-width: $break-small) {
        display: block;
    }
    i {
        width: 100%;
        margin: auto 0;
    }
}

button.searchicon--mobile {
    display: block;
    background: transparent;
    @media (min-width: $break-small) {
        display: none;
    }
}

.searchicon img {
    margin: auto;
    filter: invert(100%);
}

.icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

#header__img {
    flex : 1 1 0;
    img {
        width: 100%;
        height: auto;
        max-height: 50px;
        max-width: 290px;
        
    }
    @media (min-width: $break-small) {
        img {
        width: auto;
        }
        
    }
}


// break divider to make mobile searchbar go on its own line properly
.break {
    flex-basis: 100%;
    height: 0;
}




#toggleSideNav.modal {
    position: relative;
    z-index: 1;
    transition: 0.3s ease;
    &::before {
        content: "";
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,0.2);
        left: 0;
        top: 0;
        z-index: -2;
        transition: 0.3s ease;
        }
}