#topnav {
    background: $grey;
}

.topnav__container {
    @media (min-width: $break-medium) {
        display: flex;
    }

    margin: 0 auto;
    display: none;
    flex-direction: row;
    justify-content: center;

}


// Side navbar (will be enabled using javascript)
#sidenav {
    width: 250px;
    @media (min-width: $break-medium) {
        width: 350px;
    }
    background: red;
    transition: 0.3s ease;
    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
    padding: 0;


}

ul.sidenav-list {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: fit-content;
    color: white;
    li {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: fit-content;
        color: white;
        &:hover .sidenav-header {
            background: lighten(#333645, 10%);
        }
    }

}

.nav__icon {
    height: 100%;
    width: 100%;
    width: fit-content;
    margin: auto;
    display: block;
    i {
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }
}

.showSideNav {
    transform: translate(-250px, 0);
    @media (min-width: $break-medium) {
        transform: translate(-350px, 0);
    }
}



.sidenav-header {
    height: 56px;
    background: #333645;
    border-top: 1px solid lighten(#333645, 10%);
    border-bottom: 1px solid darken(#333645, 10%);
    padding-left: 10px;
}

.sidenav-button {
    height: 51px;
    position: relative;
    background: #282c34;
    border-top: 1px solid lighten(#282c34, 10%);
    border-bottom: 1px solid darken(#282c34, 10%);
    padding-left: 45px;
    padding-right: 15px;
    &::after {
        position: absolute;
        left: 20px;
        top: 0;
        content: "\00BB";
        display: block;
        height: 100%;
        align-content: center;
    }
}

.sidenav-header,
.sidenav-button {
    display: block;
    align-content: center;
    text-transform: uppercase;
    cursor: pointer;
}


.hide-mobile {
    display: none;
    @media (min-width: $break-medium) {
        display: block;
    }

}

.hide-desktop {
    @media (min-width: $break-medium) {
        display: none;
    }
}


.sidenav-mobile {
    background: #333645;
    .sidenav-button {
        text-align: center;
        padding: 10px 5px;
        height: fit-content;
        &::after {
            display: none;
        }
    }
    .sidenav-mobile-container {
        border-radius: 5px;
        width: 233px;
        margin: auto;
        margin-bottom: 20px;
        display: block;
        overflow: hidden;
    }
    .sidenav-mobile-button {
        display: block;
        width: 233px;
        height: 113px;
        margin: 20px auto;
        border: 1px solid lighten(#333645, 10%);
        outline: 1px solid darken(#333645, 10%);
        cursor: pointer;
        h2,
        span,
        h4 {
            margin: auto;
            display: block;
            width: fit-content;
            text-transform: uppercase;
        }
        h4 {
            margin-top: 10px;
            font-size: .8em;
        }
        span {
            font-size: 1.2em;
        }

        align-content: center;
        border-radius: 5px;

        &:hover {
            background: lighten(#333645, 10%);
        }
    }
}

@each $button, $colour in $button--colours {
    .sidenav-mobile-button:nth-of-type(#{$button}) {
        span {
            color: $colour;
        }
    }
}

.sidenav-mobile-contact {
    margin: 20px auto;
    display: block;
    width: 233px;
    height: fit-content;
    padding: 5px;
    border: 1px solid lighten(#333645, 10%);
    outline: 1px solid darken(#333645, 10%);
    cursor: pointer;
    align-content: center;
    border-radius: 5px;

    &:hover {
        background: lighten(#333645, 10%);
    }
    text-transform: uppercase;
}