#topnav {
    background: $grey;
}

.topnav__container {
    @media (min-width: $break-medium) {
        display: flex;
    }

    margin: 0 auto;
    display: none;
    flex-direction: row;
    justify-content: center;

}


// Side navbar (will be enabled using javascript)
#sidenav {
    display: none;
    transition: 0.3s ease;



    &.is-enabled {
        display: block;
        width: 100px;
        background: orange;
        height: 100vh;
    }


}

.nav__icon {
    height: 100%;
    width: 100%;
    width: fit-content;
    margin: auto;
    display: block;
    i {
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }
}


