.submenu {
    z-index: 1;
    width: 100vw;
    height: fit-content;
    position: absolute;
    display: none;
    left: 0;
    a:hover {
        text-decoration: underline;
    }
    h3 {
        width: 1200px;
        margin: 60px auto;
        font-size: 2.3em;
        font-weight: $font-weight--med-bold;
    }
}

.submenu__grid {
    width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 10px;
    li {
        width: 100%;
        font-size: 1.2em;
    }

}