.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    transition: 0.3s ease;
    z-index: 1;
    background: transparent;
    width: 100%;
}

.overflow-container {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}