.wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s ease;
    overflow-x: hidden;
    z-index: 1;
    background: white;
}