* {
    font-family: $font-stack--primary;
    box-sizing: border-box;

}



header {
    box-sizing: border-box;
    height: 110px;
}


header * {
    display: inline-block;


}



.nav--top {
    display: flex;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    @media (min-width: 800px) {
        flex-direction: row;
    }
}

h3 {
    font-weight: $font-weight--medium;
    font-size: 1em;
    &.center {
        text-align: center;
    }
}


section {
    background: white;
    color: $grey;
    width: 100%;

    &.dark {
        background: $grey;
        color: white;
    }
}


a {
    color: $grey;
    text-decoration: none;

    &.inline {
        display: inline;
    }
    &.white {
        color: white;
    }
}

blockquote {

    margin: 0;

    & p:first-child {
        font-style: italic;
    }
    & p:nth-child(2) {
        color: $light-grey;
    }
}

li {
    list-style-type: none;
    font-size: 0.9em;
    text-wrap: wrap;
    width: 170px;
}

ul {
    text-align: left;
    padding: 0;
    & a {
        color: white;
    }
}


button {
    border: none;
    padding: none;
    margin: none;
    display: inline-block;
}

h4 {
    font-weight: $font-weight--medium;
}

h2 {
    font-weight: $font-weight--medium;
    text-align: center;
    font-size: 1.3em;
}
