* {
    font-family: $font-stack--primary;
    box-sizing: border-box;

}


body {
    position: relative;
    transition: .5s ease;
}

#mainpage {
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    font-weight: $font-weight--medium;
}


h2 {
    text-align: center;
    font-size: 1.3em;
}


h3 {
    font-size: 1em;
    &.center {
        text-align: center;
    }
}


section {
    background: white;
    color: $grey;
    width: 100vw;

    &.dark {
        background: $grey;
        color: white;
    }
}


a {
    color: $grey;
    text-decoration: none;

    &.inline {
        display: inline;
    }
    &.white {
        color: white;
    }
    &.hover-underline:hover {
        text-decoration: underline;
    }
}

blockquote {
    font-weight: $font-weight--med-bold;
    line-height: 1.5;
    margin: 0;

    & p:first-child {
        font-size: 1.4em;
        font-style: italic;

    }
    & p:nth-child(2) {
        color: $light-grey;
    }
}

li {
    list-style-type: none;
    font-size: 0.9em;
    text-wrap: wrap;
    width: 170px;
}

ul {
    text-align: left;
    padding: 0;
    & a {
        color: white;
    }
}


button {
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: none;
    cursor: pointer;
}


.bold {
    font-weight: $font-weight--med-bold;
}

i {
    width: 20px;
    margin: 10px;
    text-align: center;
}

span {
    margin-left: 5px;
}

.hidden {
    display: none;
}

