$break-small  : 768px;
$break-medium : 992px;
// $break-medium-2 Required for max-width expression to work properly
$break-medium-2 : 991px;
$break-large  : 1260px;
$break-xl     : 1300px;
$break-xxl    : 1950px;

