@mixin container {
    @media (min-width: $break-small) {
        width: 750px;
    }
    @media (min-width: $break-medium) {
        width: 930px;
    }
    @media (min-width: $break-xl) {
        width: 1200px;
    }
}