.button--inline {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    background: $dark-grey;
    margin: 10px;
    font-size: 1.1em;
    &:hover {
        background: darken($dark-grey, 10%);
    }
    &.blue {
        background: $blue;
        &:hover {
            background: darken($blue, 10%);
        }
    }
    &.green {
        background: $green;
        &:hover {
            background: darken($green, 10%);
        }
    }
}

.topnav__button {
    background-color: $grey;
    border: none;
    color: white;
    height: fit-content;
    padding-top: 20px;
    @media (min-width: $break-medium) {
        width: 130px;
    }
    @media (min-width: $break-large) {
        width: 170px;
    }
    & h4 {
        padding-top: 10px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        font-size: 1.1em;
        &:first-line {
            font-size: .6em;
        }
        margin-bottom: 20px;
    }
}

@each $button, $colour in $button--colours {
    .topnav__button:nth-child(#{$button}) {
        &:hover{
            background-color: lighten($colour, 10%);
            i {
                color: white;
            }
            &::after {
                z-index: 2;
                content: "";
                border-style: solid;
                border-color: lighten($colour, 10%) transparent transparent transparent;
                position: absolute;
                @media (min-width: $break-medium) {
                    border-width: 35px 65px 0 65px;
                }
                @media (min-width: $break-large) {
                    border-width: 35px 85px 0 85px;
                }
            }
            & .submenu {
                display: block;
                background: $colour;
            }
        }
        i {
            // change logo colours to match label styling
            color: lighten($colour, 10%);

        }
    }
}

