.button--inline {
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background: $dark-grey;
    margin: 10px;
    font-size: 1.1em;
    &:hover {
        background: darken($dark-grey, 10%);
    }
    &.blue {
        background: $blue;
        &:hover {
            background: darken($blue, 10%);
        }
    }
    &.green {
        background: $green;
        &:hover {
            background: darken($green, 10%);
        }
    }
}

.topnav__button {
    background-color: $grey;
    border: none;
    color: white;
    height: fit-content;
    @media (min-width: $break-medium) {
        width: 110px;
    }
    @media (min-width: $break-large) {
        width: 130px;
    }
    @media (min-width: $break-xl) {
        width: 150px;
    }
    & h4 {
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        font-size: 1.1em;
        &:first-line {
            font-size: .6em;
        }
        margin-bottom: 20px;
    }
}

@each $button, $colour in $button--colours {
    .topnav__button:nth-child(#{$button}) {
        &:hover{
            background-color: lighten($colour, 10%);
            & img {
                filter: none;
            }
            &::after {
                content: "";
                border-style: solid;
                border-color: lighten($colour, 10%) transparent transparent transparent;
                transform: rotate(0deg);
                position: absolute;
                @media (min-width: $break-medium) {
                    border-width: 50px 55px 0 55px;
                }
                @media (min-width: $break-large) {
                    border-width: 50px 65px 0 65px;
                }
                @media (min-width: $break-xl) {
                    border-width: 50px 75px 0 75px;
                }
            }
            & .submenu {
                display: block;
                background: $colour;
            }
        }
        & img {
            // change logo colours to match label styling
            filter: opacity(0.5) drop-shadow(0 0 0 #{$colour}) drop-shadow(0 0 0 #{$colour}) drop-shadow(0 0 0 #{$colour});
        }
    }
}

