.card {
    box-shadow: 0px 0px 10px $light-grey;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    transition: 0.3s ease;
    text-align: center;
    p {
        margin-bottom: 30px;
    }
}

.cardlink {
    height: 100%;
}
.card__button {
    border-radius: 3px;
    padding: 10px;
    font-size: 1.3em;

}


.card__icon {
    display: block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
    & img {
        height: 35px;
        width: 35px;
    }
}


@each $index, $colour in $button--colours {
    .card:nth-of-type(#{$index}) {
        // set button and icon colours
        & .card__button,
        & .card__icon {
            background: lighten($colour, 10%)
        }

        // invert colours on hover - main background
        &:hover {
            background: lighten($colour, 10%);
            & .card__button,
            & .card__icon {
                background: white;
                color: lighten($colour, 10%);
                & img {
                    filter: opacity(0.5) drop-shadow(0 0 0 #{$colour}) drop-shadow(0 0 0 #{$colour}) drop-shadow(0 0 0 #{$colour});
                }
            }
        }
    }
}



// Card hover effects

.card:hover {
    transform: translate(0, -5px);
    color: white;
    & a {
        color: white;
    }
}

#card__grid {
    width: 60%;
    margin: 50px auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-auto-rows: auto;
    gap: 20px;
    @media (max-width: $break-large) {
        grid-template-areas:
        "card-1" "card-2" "card-3" "card-4" "card-5" "card-6" "card-7";
    }
    @media (min-width: $break-large) {
        grid-template-areas:
        "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3"
        "card-4 card-4 card-4 card-4 card-4 card-4 card-5 card-5 card-5 card-5 card-5 card-5"
        "card-6 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7 card-7 card-7 card-7";
    }
    @media (min-width: $break-xl) {
        grid-template-areas:
        "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3"
        "card-4 card-4 card-4 card-5 card-5 card-5 card-6 card-6 card-6 card-7 card-7 card-7";
    }
}

@for $i from 1 through 7 {
    .card:nth-child(#{$i}) {
        grid-area: card-#{$i};
        @media (max-width: $break-large) {
            grid-column: span 12;
        }
    }
}