.card {
    box-shadow: 0px 0px 10px lighten($light-grey, 20%);
    border: 1px solid $pale-grey;
    border-radius: 10px;
    padding: 30px;
    transition: 0.5s ease;
    text-align: center;
    p {
        margin-bottom: 30px;
        padding: 0 20px;
        font-size: .85em;
        line-height: 1.5;
    }
}

.cardlink {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__button {
    border-radius: 3px;
    padding: 15px;
    font-size: 1.1em;
    color: white;
    width: fit-content;
    margin: 0 auto;
}


.card__icon {
    display: block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 15px;
    i {
        color: white;
        margin: auto;
        align-content: center;
    }
}


@each $index, $colour in $button--colours {
    .card:nth-of-type(#{$index}) {
        // set button and icon colours
        & .card__button,
        & .card__icon {
            background: lighten($colour, 10%)
        }

        // invert colours on hover - main background
        &:hover {
            background: lighten($colour, 10%);
            & .card__button,
            & .card__icon {
                background: white;
                color: lighten($colour, 10%);
                i {
                    color: lighten($colour, 10%);
                }
            }
        }
    }
}



// Card hover effects

.card:hover {
    transform: translate(0, -10px);
    color: white;
    & a {
        color: white;
    }
}

#card__grid {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-auto-rows: auto;
    gap: 30px;
    grid-template-areas:
    "card-1" "card-2" "card-3" "card-4" "card-5" "card-6" "card-7";

    @media (min-width: $break-small) {
        grid-template-areas:
        "card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1"
        "card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2"
        "card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3"
        "card-4 card-4 card-4 card-4 card-4 card-4 card-5 card-5 card-5 card-5 card-5 card-5"
        "card-6 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7 card-7 card-7 card-7"
    }


    @media (min-width: $break-medium) {
        width: 750px;
        grid-template-areas:
        "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3"
        "card-4 card-4 card-4 card-4 card-4 card-4 card-5 card-5 card-5 card-5 card-5 card-5"
        "card-6 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7 card-7 card-7 card-7";
    }
    @media (min-width: $break-large) {
        width: 930px;
    }
    @media (min-width: $break-xl) {
        width: 1200px;
        grid-template-areas:
        "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3"
        "card-4 card-4 card-4 card-5 card-5 card-5 card-6 card-6 card-6 card-7 card-7 card-7";
    }
}

@for $i from 1 through 7 {
    .card:nth-child(#{$i}) {
        grid-area: card-#{$i};
        @media (max-width: $break-small-2) {
            grid-column: span 12;
        }
    }
}