.news__container {
    position: relative;
    margin: auto;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    overflow: visible;
}

.news__item {
    z-index: 0;
    position: relative;
    box-shadow: 0 0 10px $grey;
    height: fit-content;
    padding: 0 0 20px;
    display: inline-block;
    transition: 0.5s ease;
    &:hover {
        transform: translate(0, -10px);
    }
    p {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}


// Assign colours to news items
@each $index, $colour in $news--colours {
    .news__item:nth-child(#{$index}) {
        .news__item--button,
        .news__item--inset {
            background: $colour;
        }
        h3 {
            color: $colour;

        }
    }
}

.news__item--content {
    width: 85%;
    margin: auto;
    color: $med-grey;
    h3 {
        margin: 30px auto 0;
        height: 40px;
        font-weight: $font-weight--bold;
        font-size: 1em;
    }
    p {
        font-size: .8em;
        font-weight: $font-weight--light;
        letter-spacing: .08em;
    }
}

.news__item--button {
    margin-top: 20px;
    width: 130px;
    height: 50px;
    border-radius: 3px;
    color: white;
    align-content: center;
    text-align: center;
    font-size: 1.2em;
}

.news__item--author {
    border-top: 1px lighten($light-grey, 20%) solid;
    margin-top : 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.news__item--image {
    display: block;
    height: fit-content;
    width: 100%;
    position: relative;
    flex: 0;
    img {
        width: 100%;
    }

}

.news__item--avatar {
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 50px;
    img {
        border-radius: 50%;
    }
}

.news__item--inset {
    position: absolute;
    top: 20px;
    right: 0;
    display: block;
    width: 80px;
    height: 25px;
    align-content: center;
    text-align: center;
    font-size: .9em;
    font-weight: $font-weight--bold;
    &:hover {
        text-decoration: underline;
    }
}

.news__item--author-details {
    display: inline-block;
    margin-left: 20px;
    flex: 1;
    p:first-of-type {
        font-weight: $font-weight--bold;
        color: $grey;
        line-height: 1.5;
    }
    p {
        margin: 0;
    }
    font-size: 1.1em;

}


// Responsive design

.news__container {
    flex-direction: column;
    @media (min-width: $break-small) {
        flex-direction: row;
        justify-content: center;
    }
}

.news__item {
    width: 100%;
    @media (min-width: $break-medium) {
        width: 370px;
    }
}

.news__item:nth-child(3) {
    @media (min-width: $break-small) {
        display: none;
    }
    @media (min-width: $break-large) {
        display: block;
    }
}