#partners1,
#partners2 {
    width: 100%;
    height: fit-content;
    padding: 50px 0 20px;
    display: flex;
    flex-direction: row;
}

.partner-image {
    position: relative;
    padding: 40px 50px 0;
    filter: grayscale(1);
    &:hover {
        filter: grayscale(0);
    }
}


#partners2 .partner-image:hover .bubble {
    display: block;
}


.bubble {
    position: absolute;
    background: $grey;
    width: 280px;
    height: fit-content;
    margin: auto;
    display: none;
    color: white;
    text-align: center;
    left: calc(50% - 140px);
    bottom: 100%;
    padding: 20px;
    z-index: 10;
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        left: 0;
        right: 0;
        bottom: -30px;
        margin-inline: auto;
        border-style: solid;
        border-width: 0 20px 30px 20px;
        border-color: transparent transparent $grey transparent;
        transform: rotate(180deg);
    }
    button {
        border-radius: 5px;
        display: block;
        text-align: center;
        align-content: center;
        margin: 5px auto;
        padding: 15px;
        text-transform: uppercase;
        color: white;
    }


}

.slick-list {
    overflow: visible;
}

button{
    &.green {
    background: #30cc74;
    }
    &.purple {
        background: #986cb4;
    }
    &.yellow {
        background: #f7b322;
    }
    &.blue {
        background: #4884d4;
    }
}