.section__header {
    margin: 50px auto;
    height: 100px;
    h1:first-child {
        float: left;
        font-weight: $font-weight--medium;
    }
    h1:last-child {
        float: right;
        display: none;
        @media (min-width: $break-medium) {
            display: block;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}

// media queries

.section__header {
    width: 90%;
    @media (min-width: $break-medium) {
        width: 750px;
    }
}