.section__header {
    margin: 20px auto;
    height: 80px;
    background: transparent;
    h1:first-child {
        float: left;
        font-weight: $font-weight--medium;
        font-size: 2.7em;
    }
    h1:last-child {
        float: right;
        display: none;
        font-size: 2.25em;
        font-weight: 600;
        @media (min-width: $break-small) {
            display: block;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    a {
        display: block;
    }
}


.section__footer {
    margin: 20px auto;
    height: fit-content;
    text-align: center;
}

// media queries


.section__footer {
    @media (min-width: $break-small) {
        display: none;
    }
}

#news-section .section__header h1 {
    font-weight: 600;
    font-size: 2.25em;
}