.section__header {
    margin: 50px auto;
    height: 100px;
    background: transparent;
    h1:first-child {
        float: left;
        font-weight: $font-weight--medium;
    }
    h1:last-child {
        float: right;
        display: none;
        @media (min-width: $break-small) {
            display: block;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}


.section__footer {
    margin: 50px auto;
    height: 100px;
    text-align: center;
}

// media queries

.section__header {
    width: 90%;
    @media (min-width: $break-small) {
        width: 750px;
    }
    @media (min-width: $break-medium) {
        width: 930px;
    }
    @media (min-width: $break-xl) {
        width: 1200px;
    }
}

.section__footer {
    @media (min-width: $break-small) {
        display: none;
    }
}
