img.social {
    height: 60%;
    margin: 20%;
    filter: invert(100%);
    display: block;
}

a.social {
    display: flex;
    background: $dark-grey;
    height: 56px;
    width: 110px;
    @media (min-width: $break-xs) {
        width: 70px
    }
    justify-content: center;
    img {
        margin: auto;
    }
}

@each $social, $colour in $social--colours {
    // set hover colours based on link destination
    a.social[href*="#{$social}"] {
        &:hover {
            background: $colour;
        }
    }
}