img.social {
    height: 60%;
    margin: 20%;
    filter: invert(100%);
    display: block;
}

a.social {
    display: inline-block;
    background: $dark-grey;
    height: 60px;
    width: 60px;
}

@each $social, $colour in $social--colours {
    // set hover colours based on link destination
    a.social[href*="#{$social}"] {
        &:hover {
            background: $colour;
        }
    }
}